@dot1: 0.1rem;
@dot2: 0.2rem;
@dot25: 0.25rem;
@dot5: 0.5rem;
@dot75: 0.75rem;
@1: 1rem;
@1dot5: 1.5rem;
@1dot75: 1.75rem;
@2: 2rem;
@5: 5rem;
@10: 10rem;

@green: rgb(83, 185, 140);
@green2: rgb(99, 216, 161);
@green3: rgb(173, 250, 209);
@green4: rgb(199, 255, 219);
@green5: rgb(231, 255, 239);
@greenLight: rgb(55, 255, 145);
.green {
  color: @green;
}
.green2 {
  color: @green2;
}
.green3 {
  color: @green3;
}
.green4 {
  color: @green4;
}
.green5 {
  color: @green5;
}

.greenLight {
  color: @greenLight;
}

.bgWhite {
  background-color: #fff;
}

.bgGreen {
  background-color: @green;
}
.bgGreen2 {
  background-color: @green2;
}
.bgGreen3 {
  background-color: @green3;
}

.bgGreen4 {
  background-color: @green4;
}
.bgGreen5 {
  background-color: @green5;
}

.white {
  color: #fff;
}

.blueLight {
  color: rgba(0, 129, 167, 0.7);
}
.bgBlue {
  background-color: #2579ad;
}
.bgBlue2 {
  background-color: rgb(72, 202, 228);
}
.bgBlue3 {
  background-color: #99e6f5;
}
.bgBlue4 {
  background-color: #b0ebf7;
}
.bgBlue5 {
  background-color: #c7f4ff;
}
.blue {
  /* color: #2579ad !important; */
  color: rgb(0, 119, 182);
}
.blue2 {
  color: rgb(72, 202, 228);
}
.blue3 {
  color: rgb(144, 224, 239);
}
.blue4 {
  color: rgb(173, 232, 244);
}
.blue5 {
  color: rgb(202, 240, 248);
}

.m(@var) {
  margin: @var !important;
}
.m(@var1, @var2) {
  margin: @var1 @var2 !important;
}
.m_dot1 {
  margin: @dot1;
}
.m_dot25_0_dot25_dot75 {
  margin: @dot25 0 @dot25 @dot75 !important;
}
.pl_dot5 {
  padding-left: @dot5 !important;
}

.pr(@var) {
  padding-right: @var !important;
}
.pr_dot75 {
  .pr(@dot75);
}
.pr_1 {
  .pr(@1);
}
.pr_2 {
  .pr(@2);
}
.pl(@var) {
  padding-left: @var !important;
}
.pl_dot75 {
  .pl(@dot75);
}
.pl_1 {
  .pl(@1);
}
.pl_2 {
  .pl(@2);
}

.p(@var) {
  padding: @var !important;
}
.p(@var1,@var2) {
  padding: @var1 @var2 !important;
}
.p_dot25_dot5 {
  // padding: @dot25 @dot5 !important;
  .p(@dot25,@dot5);
}
.p_dot25_1 {
  .p(@dot25,@1);
}
.p_dot25_1dot5 {
  .p(@dot25,@1dot5);
}
.p_dot2 {
  .p(@dot2);
}
.p_dot25 {
  .p(@dot25);
}
.p_dot5 {
  .p(@dot5);
}
.p3px5px {
  padding: 3px 5px !important;
}
.p5px {
  padding: 5px !important;
}
.py1px {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.w80px {
  width: 80px !important;
}
.w16px {
  width: 16px !important;
}
