@import "basics.less";

* {
  margin: 0;
  padding: 0;
  line-height: 120%;
  /* -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}

h1,
h2 {
  font-size: 150%;
  font-weight: 900;
  padding-top: @dot25;
}

h3 {
  font-size: 125%;
  font-weight: 900;
  padding-top: @dot25;
}
h4 {
  font-size: 100%;
  font-weight: 900;
  padding-top: @dot25;
}

.textAlignLeft {
  text-align: left !important;
}

.profileText p {
  /* font-size: 120%; */
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.imageBox img {
  padding: 10%;
  border-radius: 50%;
}

body {
  background-color: #eaf4f4;
  font-family: "Hepta Slab", cursive;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-right: @1;
  /* line-height: 120%; */
}

a {
  text-decoration: underline;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.alignSelfCenter {
  align-self: center !important;
}

.flexStart {
  align-items: flex-start !important;
}
.textCenter {
  text-align: center;
}

@media (min-width: 370px) {
  .container {
    position: relative;
    max-width: 100%;
    /* display: -ms-grid; */
    display: grid;
  }
  .body {
    margin: 0;
  }
}

.grid1vs2 {
  grid-template-columns: 30% 1fr;
}

.grid1vs1 {
  grid-template-columns: 50% 50%;
}
.grid2vs1 {
  grid-template-columns: 2fr 1fr;
}
.grid2vs1vs1 {
  grid-template-columns: 2fr 1fr 1fr;
}
.container .leftSide {
  position: relative;
  background-color: #1b4965;
  color: #eaf4f4;
  /* font-size: 120%; */
  padding: 0;
  /* margin: 5%; */
}

.container .leftSide .block {
  color: #bee9e8;
  padding: 0 0 @dot1 0%;
  text-align: center;
  padding: 0 @dot25;
}

.container .leftSide .block .ending {
  margin: 5% 30%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profileText .name {
  margin-top: -8%;
  text-align: center;
}
.profileText p {
  text-align: center;
}

.block .contact {
  align-items: center;
}

tr,
th,
.leftSide {
  .p(@dot1, @dot1);
  font-weight: 500;
}
p,
span {
  // padding: @dot25 0 0 0;
  text-align: justify;
  font-weight: 500;
}
.leftSide .block table tr {
  /* padding: 0 20px 0 0; */
  /* display: grid; */
  display: flexbox;
}

.block table th img {
  /* padding: 0 20px 0 0; */
  height: 32px;
}

.leftSide table th {
  padding: 0 10px 0 0;
}

table .left {
  text-align: right;
}

table .right {
  text-align: left;
}
.rightSide table th {
  padding-bottom: 20px;
}

.container .rightSide .block {
  position: relative;
  /* font-size: 150%; */
  color: #0081a7;
  width: 100% !important;
  .pl(@1);
}
.container .rightSide .block .ending {
  // margin: 2% 50% 1% 0;
  margin: @dot2 50% @dot1 0;
  border-bottom: @dot2 solid rgba(0, 129, 167, 0.2);
}
.aboutMe {
  text-align: justify;
  // padding-left: 5px;
  .pl(@dot5)/* width: 70%; */;
}
.myCardWrapper {
  // &:extend(.p_dot25_dot5);
  position: relative;
  display: flex;

  flex-flow: row wrap;
  // align-items: stretch;
}

.myCard {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // justify-content: flex-start;
  // justify-content: center;

  padding: @dot25 @dot1;
  // .p10px;
  // .py-2;
}
.myCard .meta {
  position: relative;
  display: flex;

  flex-direction: column;
  /* align-self: center; */
  align-items: center;
  align-content: center;
  justify-content: center;
}

.myCard .meta .tag {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  margin: auto auto 0 auto;
  font-size: 8px !important;
  color: #fff;

  text-align: center;
}

.myCard .meta .photo {
  display: flex;
  width: 50px;
  height: 50px;
  align-self: center;
  align-items: center;
  align-content: center;
}
.myCard .meta .photo img {
  align-self: center;
}
#logoPadding {
  padding: 5px;
}
.myCard .details {
  z-index: 1;
  /* padding-left: 10px; */
  /* background: $color_white; */
  position: relative;
  display: flex;
  align-items: center;

  padding-left: 5px;
}
.columnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  /* justify-content: space-between; */

  /* padding: 5px 10px; */
}

.rowWrapper {
  position: relative;
  display: flex;
  flex-direction: row wrap;
  // align-items: stretch;

  /* margin: 5px; */
  // margin: 0;
  // padding: 0;
}
.rowWrapper p {
  padding: 0 @dot25;
  text-align: justify;
  align-self: center;
}

#myWork .title {
  /* flex-grow: 2; */
  color: #fff;
  padding: @dot25 @dot5;
}
.flexGrow {
  .flexGrow;
}
.flexGrow(@a: 1) {
  flex-grow: @a;
}
.flexGrow2 {
  .flexGrow(2);
}
.flexGrow5 {
  .flexGrow(5);
}

.techTask {
  .p_dot25_dot5;
  .columnWrapper;
  .bgBlue3;
  .flexGrow;
  width: 50%;
}
.techTool {
  .bgBlue4;
  .p_dot25_dot5;
  .flexGrow;
  width: 20%;
}
.skill {
  .techTool;
  .bgBlue5;
}
@skewDeg: 10deg;
.skewTag {
  .myCard;
  .center;
  .textCenter;
  .bgBlue;
  .white;
  // .my1px;
  .p(@dot2, @dot25);
  .m(@dot1);

  font-size: 80%;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  transform: skew(-@skewDeg);
  p {
    transform: skew(@skewDeg);
    text-align: left;
    .p(0,0);
    // text-align: center !importanceeeeeeeeeeeee
  }
}
.skewTagGreen {
  .skewTag;
  .bgGreen;
}

// .verticalAlignBaseline {
//   vertical-align: baseline;
// }
