* {
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}

h1,
h2 {
  font-size: 250%;
  font-weight: 900;
  padding-top: 0px;
}

h3 {
  font-size: 200%;
  font-weight: 900;
  padding-top: 0px;
}

.profileText p {
  /* font-size: 120%; */
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.imageBox img {
  padding: 10%;
  border-radius: 50%;
}

body {
  background-color: #eaf4f4;
  font-family: "Hepta Slab", cursive;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

a {
  text-decoration: underline;
}
.green {
  color: rgb(64, 145, 108) !important;
}
.green2 {
  color: rgb(82, 183, 136) !important;
}
.green3 {
  color: rgb(116, 198, 157) !important;
}
.greenLight {
  color: rgb(55, 255, 145) !important;
}

.bgWhite {
  background-color: #fff !important;
}
.bgGreen {
  background-color: rgb(64, 145, 108) !important;
}
.bgGreen2 {
  background-color: rgb(82, 183, 136) !important;
}
.bgGreen3 {
  background-color: rgb(116, 198, 157) !important;
}

.bgGreen4 {
  background-color: rgb(149, 213, 178) !important;
}

.bgGreen5 {
  background-color: rgb(183, 228, 199) !important;
}
.bgGreen6 {
  background-color: rgb(216, 243, 220) !important;
}
.white {
  color: #fff !important;
}
.blueLight {
  color: rgba(0, 129, 167, 0.7);
}
.bgBlue {
  background-color: #2579ad !important;
}
.bgBlue2 {
  background-color: #99c1de !important;
}
.bgBlue3 {
  background-color: #ade8f4 !important;
}
.bgBlue4 {
  background-color: #caf0f8 !important;
}
.bgBlue5 {
  background-color: #eefcff !important;
}
.blue {
  color: #2579ad !important;
}
.blue2 {
  color: #99c1de !important;
}
.blue3 {
  color: #ade8f4 !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 1px solid;
}

.pl10px {
  padding-left: 10px;
}
.p5px10px {
  padding: 5px 10px;
}

@media (min-width: 380px) {
  .container {
    position: relative;
    max-width: 100%;
    /* display: -ms-grid; */
    display: grid;
  }
}

.grid1vs2 {
  grid-template-columns: 30% auto;
}

.grid1vs1 {
  grid-template-columns: 50% 50%;
}
.grid2vs1 {
  grid-template-columns: 2fr 1fr;
}
.grid2vs1vs1 {
  grid-template-columns: 2fr 1fr 1fr;
}
.container .leftSide {
  position: relative;
  background-color: #1b4965;
  color: #eaf4f4;
  /* font-size: 120%; */
  padding: 0;
  /* margin: 5%; */
}

.container .leftSide .block {
  /* padding: 10%; */
  color: #bee9e8;
  font-weight: 200;
  padding: 0 0 5% 0%;
  margin: 0 5%;
  text-align: center;
  /* padding-bottom: 50px; */
}

.container .leftSide .block .ending {
  margin: 5% 30%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profileText .name {
  margin-top: -8%;
  text-align: center;
}
.profileText p {
  text-align: center;
}

.block .contact {
  align-items: center;
}

p,
span,
tr,
th {
  font-weight: 500;
}
p {
  margin: 5px 10px;
  text-align: justify;
}
.leftSide .block table tr {
  /* padding: 0 20px 0 0; */
  /* display: grid; */
  display: flexbox;
}

.block table th img {
  /* padding: 0 20px 0 0; */
  height: 32px;
}

.leftSide table th {
  padding: 0 10px 0 0;
}

table .left {
  text-align: right;
}

table .right {
  text-align: left;
}
.rightSide table th {
  padding-bottom: 20px;
}

.container .rightSide .block {
  position: relative;
  /* font-size: 150%; */
  color: #0081a7;
  margin: 2%;
}
.container .rightSide .block .ending {
  margin: 2% 50% 1% 0;
  border-bottom: 2px solid rgba(0, 129, 167, 0.2);
}
.aboutMe {
  text-align: justify;
  padding-left: 5px;
  /* width: 70%; */
}
.myCardWrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.myCard {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  padding: 0.5rem 1rem;
  max-width: 500px;
}
.myCard .meta {
  position: relative;
  display: flex;
  width: 80px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;

  /* background-color: rgb(24, 209, 163); */
  background-color: #fff;
  /* border-radius: 10px; */

  /* z-index: 0; */
}
.myCard .meta .tag {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  margin: auto auto 0 auto;
  font-size: 8px !important;
  color: #fff;

  text-align: center;
  /* width: 100%; */
}
/* .green {
  background-color: green;
} */
.myCard .meta .photo {
  display: flex;
  width: 50px;
  height: 50px;
  align-self: center;
  align-items: center;
  align-content: center;
}
.myCard .meta .photo img {
  align-self: center;
}
#logoPadding {
  padding: 5px;
}
.myCard .details {
  z-index: 1;
  padding-left: 10px;
  /* background: $color_white; */
  position: relative;
  display: flex;
  align-items: center;
}
.columnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-between; */

  /* padding: 5px 10px; */
}

.rowWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  /* margin: 5px; */
}
.rowWrapper p {
  padding: 0 10px;
}

#myWork .title {
  /* flex-grow: 2; */
  color: #fff;
  padding: 5px 20px;
}
#flexGrow {
  flex-grow: 100;
}
