* {
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}

h1,
h2 {
  font-size: 250%;
  font-weight: 900;
  padding-top: 0px;
}

h3 {
  font-size: 200%;
  font-weight: 900;
  padding-top: 0px;
}

.profileText p {
  /* font-size: 120%; */
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.imageBox img {
  padding: 10%;
  border-radius: 50%;
}

body {
  background-color: #eaf4f4;
  font-family: "Hepta Slab", cursive;
  font-size: 11px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: underline;
}

.iconGreenLight {
  color: rgb(65, 204, 107);
}
.bgGreen {
  background-color: rgba(49, 126, 72, 1);
}
.iconWhite {
  color: #fff;
}
.iconBlueLight {
  color: rgba(0, 129, 167, 0.7);
}
.bgBlue {
  background-color: rgba(0, 109, 119, 0.7);
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.border {
  border: 1px solid;
}

@media (min-width: 380px) {
  .container {
    position: relative;
    max-width: 100%;
    /* display: -ms-grid; */
    display: grid;
  }
}

.grid1vs2 {
  grid-template-columns: 30% auto;
}

.grid1vs1 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 50% 50%;
}

.container .leftSide {
  position: relative;
  background-color: #1b4965;
  color: #eaf4f4;
  /* font-size: 120%; */
  padding: 0;
  margin: 5%;
}

.container .leftSide .block {
  /* padding: 10%; */
  color: #bee9e8;
  font-weight: 200;
  padding: 0 0 5% 0%;
  margin: 0 5%;
  text-align: center;
  /* padding-bottom: 50px; */
}

.container .leftSide .block .ending {
  margin: 5% 30%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profileText .name {
  margin-top: -8%;
}

.block .contact {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

p,
span,
tr,
th {
  font-weight: 500;
}
p {
  margin: 5px 0 5px 0;
}
.leftSide .block table tr {
  /* padding: 0 20px 0 0; */
  /* display: grid; */
  display: flexbox;
}

.block table th img {
  /* padding: 0 20px 0 0; */
  height: 32px;
}

.leftSide table th {
  padding: 0 20px 0 0;
}

table .left {
  text-align: right;
}

table .right {
  text-align: left;
}
.rightSide table th {
  padding-bottom: 20px;
}

.container .rightSide .block {
  position: relative;
  /* font-size: 150%; */
  color: #0081a7;
  margin: 2%;
}
.container .rightSide .block .ending {
  margin: 2% 50% 1% 0;
  border-bottom: 2px solid rgba(0, 129, 167, 0.2);
}
.aboutMe {
  text-align: justify;
  /* width: 70%; */
}
.myCardWrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.myCard {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 4;

  padding: 10px;
  max-width: 500px;
}
.myCard .meta {
  position: relative;
  display: block;
  align-items: center;
  background-color: #fff;
  /* border-radius: 10px; */

  z-index: 0;
}
.myCard .meta .tag {
  height: 20%;
  padding: 5px;
  font-size: 7px;
  font-weight: bold;
  color: #fff;

  text-align: center;

  /* width: 100%; */
}
/* .green {
  background-color: green;
} */
.myCard .meta .photo {
  padding: 10px;
  width: 75px;
  height: 75px;
}
.myCard .details {
  z-index: 1;
  padding-left: 10px;
  /* background: $color_white; */
  position: relative;
  display: flex;
  align-items: center;
}
.myCard .background {
  position: absolute;
  right: -10px;
  bottom: 10px;
  font-size: 150%;
  color: rgba(0, 129, 167, 0.1);
  /* background-color: yellow; */
  transform: rotate(-90deg);
}
